body {
    font-family: Fredoka;
    padding: 0%;
    margin: 0%;
    overflow: hidden;
    background-color: #1A191D;
}

@font-face {
    font-family: Fredoka;
    src: url(FredokaOne-Regular.ttf);
}